<!-- component -->
<div class="flex-1 flex flex-col">
    <nav class="px-4 flex justify-between bg-white h-16 border-b-2">

        <!-- top bar left -->
        <ul class="flex items-center">
            <!-- add button -->
            <li class="h-12 w-12">
                <img class="h-full w-full mx-auto" src="https://i.pinimg.com/originals/44/ff/9f/44ff9f53544ee2276e4e230540fe06e5.gif" alt="Pimpin aint easy" />
            </li>
        </ul>

        <ul class="flex items-center">
            <div class="pr-10">
                <img class="animate-spin w-10 h-10" src="/assets/img/luke.png" />
            </div>

            <li>
                <h1 class="pl-8 lg:pl-0 text-gray-700">JACOB'S UI</h1>
            </li>
            <div class="pl-10">
                <img class="animate-spin w-10 h-10" src="/assets/img/luke.png" />
            </div>

        </ul>

        <!-- to bar right  -->
        <ul class="flex items-center">
            <li class="h-12 w-12">
                <img class="h-full w-full rounded-full mx-auto" src="https://rodmc1.github.io/League-Fire/images/fire.gif" alt="one nine-nine" />
            </li>

        </ul>

    </nav>
</div>