<p>I am the best. Use these alerts to stand out in the crowd.</p>
<div class="alert-container">
    <h5>Caution Alert</h5>
    <div class="alert alert-caution">
        <marquee class="w-full" scrollamount="15">Proceed with caution!!!</marquee>
    </div>
    <article className="prose prose-lg">
        <span>CSS</span>
        <pre>
            <code class="language-css" ng-non-bindable>.alert: {{ '{' }} padding:5px; {{ '}' }}
.alert-caution: {{ '{' }} 
    background-color: yellow;
    color: yellowgreen;
{{ '}' }}</code>
        </pre>
    </article>
    <article className="prose prose-lg">
        <span>HTML</span>
        <pre>
            <code class="language-markup" ng-non-bindable>&lt;div class="alert alert-caution"&gt;
&lt;marquee class="w-full" scrollamount="15">Proceed with caution!!!&lt;&#47;marquee&gt;
&lt;&#47;div&gt;</code>
        </pre>
    </article>
</div>
<div class="alert-container">


    <h5>Error Alert</h5>
    <div class="alert alert-error">
        <marquee class="w-full" scrollamount="15">ERROR: Code not to Jacob's STANDARDS</marquee>
    </div>
    <article className="prose prose-lg">
        <span>CSS</span>
        <pre>
        <code class="language-css" ng-non-bindable>.alert: {{ '{' }} padding:5px; {{ '}' }}
.alert-error: {{ '{' }} 
background-color: red;
color: rgba(153, 8, 8, 0.856);
{{ '}' }}</code>
    </pre>
    </article>
    <article className="prose prose-lg">
        <span>HTML</span>
        <pre>
        <code class="language-markup" ng-non-bindable>&lt;div class="alert alert-error"&gt;
&lt;marquee class="w-full" scrollamount="15">ERROR: Code not to Jacob's STANDARDS&lt;&#47;marquee&gt;
&lt;&#47;div&gt;</code>
    </pre>
    </article>
</div>
<div class="alert-container">
    <h5>Info Alert</h5>
    <div class="alert alert-info">
        <marquee class="w-full" scrollamount="15">FOR YO INFORMATION</marquee>
    </div>
    <article className="prose prose-lg">
        <span>CSS</span>
        <pre>
        <code class="language-css" ng-non-bindable>.alert: {{ '{' }} padding:5px; {{ '}' }}
.alert-info: {{ '{' }} 
background-color: blue;
color: skyblue;
{{ '}' }}</code>
    </pre>
    </article>
    <article className="prose prose-lg">
        <span>HTML</span>
        <pre>
        <code class="language-markup" ng-non-bindable>&lt;div class="alert alert-info"&gt;
&lt;marquee class="w-full" scrollamount="15">FOR YO INFORMATION&lt;&#47;marquee&gt;
&lt;&#47;div&gt;</code>
    </pre>
    </article>
</div>
<div class="alert-container">
    <h5>Success Alert</h5>
    <div class="alert alert-success">
        <marquee class="w-full" scrollamount="15">SUCCESS WITH YO GIRL LAST NIGHTS</marquee>
    </div>
    <article className="prose prose-lg">
        <span>CSS</span>
        <pre>
            <code class="language-css" ng-non-bindable>.alert: {{ '{' }} padding:5px; {{ '}' }}
    .alert-success: {{ '{' }} 
    background-color: springgreen;
    color: greenyellow;
    {{ '}' }}</code>
        </pre>
    </article>
    <article className="prose prose-lg">
        <span>HTML</span>
        <pre>
            <code class="language-markup" ng-non-bindable>&lt;div class="alert alert-success"&gt;
    &lt;marquee class="w-full" scrollamount="15">SUCCESS WITH YO GIRL LAST NIGHTS&lt;&#47;marquee&gt;
    &lt;&#47;div&gt;</code>
        </pre>
    </article>
</div>