<P>
    If you want to really stick out and show off your "silly" side. There is only one font. COMIC SANS FONT. Put it on the body tag to ensure everyone who comes to your site knows just how goofy and silly you are.
</P>
<article className="prose prose-lg">
    <pre><code class="language-css" ng-non-bindable>body: {{ '{' }} font-family: "Comic Sans MS", "Comic Sans", cursive; {{ '}' }}</code></pre>
</article>
<div>
    <img src="https://media.istockphoto.com/vectors/pimp-gangsta-with-car-vector-id497056770" />
</div>