<app-top-nav></app-top-nav>
<img src="/assets/img/pimpin.gif" />
<div class="pt-8 lg:flex">
    <div class="flex flex-col w-full px-4 py-4 overflow-y-auto border-b lg:border-r lg:h-screen lg:w-64">
        <div class="flex flex-col justify-between mt-6">
            <div class="bg-gray-500">
                <ul>
                    <li><a routerLink="/home" routerLinkActive="active" class="text-red-600 underline">Home</a></li>
                    <li><a routerLink="/button" routerLinkActive="active" class="text-red-600 underline">Buttons</a></li>
                    <li><a routerLink="/alert" routerLinkActive="active" class="text-red-600 underline">Alerts</a></li>
                    <li><a routerLink="/font" routerLinkActive="active" class="text-red-600 underline">Fonts</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="w-full h-full p-4 m-6 overflow-y-auto">
        <div class="flex items-center justify-center p-16 mr-8 bg-white lg:p-40">
            <router-outlet></router-outlet>
        </div>
    </div>