<p class=pb-10>Everyone knows me as the GUI king. If this doesn't show why then nothing will.</p>
<div class="btn-container">
    <h5>Caution Button</h5>
    <button class="btn btn-caution w-full">GROOVY</button>
    <article className="prose prose-lg">
        <span>CSS</span>
        <pre>
            <code class="language-css" ng-non-bindable>.btn {{ '{' }}
    border: 4px;
    border-style: double;
    padding: 10px 60px;
{{ '}' }}

.btn-caution {{ '{' }}
    background-color: yellow;
    color: yellowgreen;
    border-color: yellowgreen;
{{ '}' }}

.btn-caution:hover {{ '{' }}
    background-color: red;
{{ '}' }}</code>
        </pre>
    </article>
    <article className="prose prose-lg">
        <span>HTML</span>
        <pre>
            <code class="language-markup" ng-non-bindable>
&lt;button class="btn btn-caution">GROOVY&lt;&#47;button&gt;</code>
        </pre>
    </article>
</div>

<div class="btn-container">
    <h5>Information Button</h5>
    <button class="btn btn-info w-full">GROOVY</button>
    <article className="prose prose-lg">
        <span>CSS</span>
        <pre>
            <code class="language-css" ng-non-bindable>.btn {{ '{' }}
    border: 4px;
    border-style: double;
    padding: 10px 60px;
{{ '}' }}

.btn-info {{ '{' }}
    background-color: blue;
    color: skyblue;
    border-color: skyblue;
{{ '}' }}

.btn-info:hover {{ '{' }}
    background-color: red;
{{ '}' }}</code>
        </pre>
    </article>
    <article className="prose prose-lg">
        <span>HTML</span>
        <pre>
            <code class="language-markup" ng-non-bindable>
&lt;button class="btn btn-info">INFOOVY&lt;&#47;button&gt;</code>
        </pre>
    </article>
</div>

<div class="btn-container">
    <h5>Success Button</h5>
    <button class="btn btn-success w-full">GREEN LIKE MY MONEY</button>
    <article className="prose prose-lg">
        <span>CSS</span>
        <pre>
            <code class="language-css" ng-non-bindable>.btn {{ '{' }}
    border: 4px;
    border-style: double;
    padding: 10px 60px;
{{ '}' }}

.btn-success {{ '{' }}
    background: springgreen;
    color: greenyellow;
    border-color: greenyellow;
{{ '}' }}

.btn-success:hover {{ '{' }}
    background-color: red;
{{ '}' }}</code>
        </pre>
    </article>
    <article className="prose prose-lg">
        <span>HTML</span>
        <pre>
            <code class="language-markup" ng-non-bindable>
&lt;button class="btn btn-success">INFOOVY&lt;&#47;button&gt;</code>
        </pre>
    </article>
</div>

<div class="btn-container">
    <h5>Error Button</h5>
    <button class="btn btn-error w-full">I AM A DANGER AROUD YO GIRL</button>
    <article className="prose prose-lg">
        <span>CSS</span>
        <pre>
            <code class="language-css" ng-non-bindable>.btn {{ '{' }}
    border: 4px;
    border-style: double;
    padding: 10px 60px;
{{ '}' }}

.btn-error {{ '{' }}
    background-color: red;
    color: rgba(153, 8, 8, 0.856);
{{ '}' }}

.btn-error:hover {{ '{' }}
    background-color: red;
{{ '}' }}</code>
        </pre>
    </article>
    <article className="prose prose-lg">
        <span>HTML</span>
        <pre>
            <code class="language-markup" ng-non-bindable>
&lt;button class="btn btn-error">I AM A DANGER AROUD YO GIRL&lt;&#47;button&gt;</code>
        </pre>
    </article>
</div>