<p>
    Hello. Welcome to my website. Through the many days of me being an intern I have developed a tremendous amount of knowledge when it comes to all things GUI. At my work they call me the "Pimp Wizard of User Interaction". Sometimes I wonder if that's because
    I am so good at my job or just so successful with the ladies. <img src="/assets/img/sword.gif" />
</p>
<blockquote class="font-bold text-red-400 italic">
    There are two powers in the world; one is the sword and the other is JACOB. - God, when asked about Jacob.
</blockquote>